<!-- Footer -->

<footer>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-6 col-md-6">
        <h6>Contact</h6>
        <p class="text-muted">
          McConnell Engineering Building <br/>
          Room X <br/>
          3480 University St <br/>
          Montreal, Quebec <br/>
          H3A 0E9
        </p>
        
      </div>

      <div class="col-lg-4 col-md-5">
        <h6>Links</h6>
        <p class="text-muted">
        <a href="https://twitter.com/" ><span><i class="fab fa-twitter"></i> @username</span></a> <br/>
        <a href="https://mila.quebec/" ><span><i class="fas fa-globe"></i> Mila</span></a> <br/>
        <a href="https://cs.mcgill.ca/" ><span><i class="fas fa-globe"></i> McGill CS Department</span></a> <br/>
        <a href="https://cs.mcgill.ca/" ><span><i class="fas fa-globe"></i> Faculty of Graduate and Postdoctoral Studies</span></a> <br/>
        
        </p>
      </div>
    </div>
  </div>
  
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-11 mx-auto">
          <p class="">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
