<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 colg-xl-4 project-img">
        <img src="{{ include.project.img | relative }}" />
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 colg-xl-8">
        <h4>{{ include.project.title }}</h4>
        {% if include.project.key_people %}
            <div class="project-key-people"><strong>Key people:</strong> {{ include.project.key_people }}</div>
        {% endif %}

        {{ include.project.content }}
        
        {% assign pubs = site.publications | where: 'project_id', include.project.id | sort: 'date' | reverse %}
        {% assign pubs_size = pubs | size %}
        {% if pubs_size > 0 %}
            <h5>Publication:</h5>
            {% for p in pubs %}
                {% include pub.html pub=p year=p.year no_pad=1%}
            {% endfor %}
        {% endif %}
        
    </div>
</div>

<hr/>
<br/>