---
layout: page-no-header
---
{{ content }}

{% include people-section.html role='faculty' section_name='Faculty' %}
{% include people-section.html role='postdoc' section_name='Postdoc' %}
{% include people-section.html role='phd' section_name='Ph.D. Students' %}
{% include people-section.html role='msc' section_name='Masters Students' %}
{% include people-section.html role='undergrad' section_name='Undergraduate Students' %}
{% include people-section.html role='intern' section_name='Inters' %}
{% include people-section.html role='collaborator' section_name='Collaborators' %}


{% assign list = site.data.people.profiles %}
{% assign list = list | where: "active", "false"%}
{% assign fsize = list | size %}
{% if fsize > 0 %}
<h3>Alumni</h3>
  <ul>
  {% assign people = list | sort: 'leave_year' | reverse %}
  {% for a in people %}
    <li style="font-size: 0.9rem;">
      <span class="people-alumni-name">
        {% if a.url %}
            <a href="{{ a.url }}">{{ a.name }}</a>
        {% else %}
            {{ a.name }}
        {% endif %}
      </span>
      ({{ a.role }}{% if a.enterance_year %}; {{ a.enterance_year }}{% endif %}{% if a.current_position %}; <span style="font-style: italic;">{{ a.current_position }}</span>{% endif %}{% if a.desc %}; {{ a.desc }}{% endif %})

    </li>
  {% endfor %}
  </ul>
{% endif %}